<!-- About Section -->
{%raw%}
<section class="success" id="about" ng-controller="aboutCtrl">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>{{ site.pages.about.label }}</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2">
              <div class="editable">
                 <p>{{ site.pages.about.body1 }}</p>
              </div>
            </div>
            <div class="col-lg-4">
             <div class="editable">
                 <p>{{ site.pages.about.body2 }}</p>
             </div>
            </div>
            <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="/s?txt=" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Baixe o curriculo
                </a>
            </div> -->
        </div>
    </div>
</section>
{%endraw%}