<!-- Modal -->
<div class="modal fade" id="modalLogin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Login para {{site.name}}</h4>
      </div>
      <div class="modal-body">
        <form id=login_form action="{{data}}/login_do" method="POST" enctype="multipart/form-data">
            <input type="hidden" name="site" value="{{site.name}}">
            <input type="password" name="senha" value="" class="form-control" id="exampleInputEmail1" placeholder="Entre com a senha">
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
        <button onclick='$("#login_form").submit();' type="button" class="btn btn-primary">Ok</button>
      </div>
    </div>
  </div>
</div>
