<!-- Header -->
<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <img class="img-responsive" src="{{ site.pages.home.img }}" alt="">
                <div class="intro-text">
                    <span class="name">{{ site.pages.home.label }}</span>
                    <hr class="star-light">
                    <span class="skills">{{ site.pages.home.body }}</span>
                </div>
            </div>
        </div>
    </div>
</header>