<!-- About Section -->
<section class="success" id="about" ng-controller="aboutCtrl">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>
                  <div contenteditable="<%=@edit_flag%>"
                    ng-model="about.label"
                    strip-br="true"
                    select-non-editable="true"
                    ng-blur="saveDiv('about.label')">
                  </div>  
                </h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-lg-offset-2"><p> 
              <p contenteditable="<%=@edit_flag%>"
                ng-model="about.body1"
                strip-br="true"
                select-non-editable="true"
                ng-blur="saveDiv('about.body1')">
              </p>  
            </div>
            <div class="col-lg-4"><p>
             <p contenteditable="<%=@edit_flag%>"
                ng-model="about.body2"
                strip-br="true"
                select-non-editable="true"
                ng-blur="saveDiv('about.body2')">
              </p>  
            </div>
            <!-- <div class="col-lg-8 col-lg-offset-2 text-center">
                <a href="/s?txt=" class="btn btn-lg btn-outline">
                    <i class="fa fa-download"></i> Baixe o curriculo
                </a>
            </div> -->
        </div>
    </div>
</section>
