<!-- Contact Section -->
<section id="contact" ng-controller="ContactCtrl">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>
                  <div contenteditable="<%=@edit_flag%>"
                    ng-model="contact.label"
                    strip-br="true"
                    select-non-editable="true"
                    ng-blur="saveDiv('contact.label')">
                  </div>    
                </h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <form name="sentMessage" method="post" action="/email_envia" id="contactForm" novalidate>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Nome</label>
                            <input type="text" class="form-control" placeholder="Nome" id="name" required data-validation-required-message="Digite seu nome">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email</label>
                            <input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Entre com seu email.">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Fone</label>
                            <input type="tel" class="form-control" placeholder="Fone" id="phone" required data-validation-required-message="Entre com seu telefone">
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Mensagem</label>
                            <textarea rows="5" class="form-control" placeholder="Mensagem" id="message" required data-validation-required-message="Entre com uma mensagem"></textarea>
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg">Envia</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>