<header ng-controller="headerCtrl">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <style>
          .cropcircle{
            width: 250px;
            height: 250px;
            border-radius: 100%;
            background: #eee no-repeat center;
            background-size: cover;
            box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
            margin: 0 auto;
          }
          #image1{
            background-image: url({{ site.pages.home.img }});
          }
        </style>
         
        <div id="image1" 
             class="cropcircle img-responsive" 
             <% if @edit_flag == true %>
                onclick="$('#file').click();" 
             <% end %> >
        </div>

        <form id=uploadimage action="" method="POST" enctype="multipart/form-data">
          <input type="hidden" name="site" value="{{site.name}}">
          <input type="hidden" id="flag_form_0" value="">
          <input 
             class="btn btn-info" 
             type="file" 
             name="file" 
             id="file" required 
             style="visibility:hidden">
        </form>

        <div class="intro-text">
          <span class="name">
           <!--  <div class=edit contentedit contenteditable="true" ng-bind="site.pages.home.label" id=txt1>{{ site.pages.home.label }}</div> -->          
            <div contenteditable="<%=@edit_flag%>"
                ng-model="site.pages.home.label"
                strip-br="true"
                select-non-editable="true"
                ng-blur="saveDiv('site.pages.home.label')">
            </div>
          </span>
          <hr class="star-light">
          <span class="skills">          
            <div contenteditable="<%=@edit_flag%>"
                ng-model="site.pages.home.body"
                strip-br="true"
                select-non-editable="true"
                ng-blur="saveDiv('site.pages.home.body')">
            </div>          
          </span>
        </div>           
      </div>
    </div>
    <div>
    <br>
   </div>
  </div> 
</header>

<script>
$(document).ready(function (e) {
    $("#uploadimage").on('submit',(function(e) {
        console.log(this.id);
        e.preventDefault();
        //$("#message").empty(); 
        //$('#loading').show();
        //data =  new FormData(this);
        //alert(JSON.stringify((new FormData(this))));
        var url = document.URL;
        var urlArray = url.split("/");
        var siteNome = urlArray[urlArray.length-1];
        $.ajax({
            url: "/"+siteNome+"/upload",            // Url to which the request is send
            type: "POST",                   // Type of request to be send, called as method
            data:  new FormData(this),      // Data sent to server, a set of key/value pairs representing form fields and values 
            contentType: false,             // The content type used when sending data to the server. Default is: "application/x-www-form-urlencoded"
            cache: false,                   // To unable request pages to be cached
            processData:false,              // To send DOMDocument or non processed data file it is set to false (i.e. data should not be in the form of string)
            success: function(data)         // A function to be called if request succeeds
            {
                alert("Item salvo com sucesso!");
            //$('#loading').hide();
            //$("#message").html(data);         
            }           
       });
    }));
 });   


$(document).ready(function (e) {
// Function to preview image
    $(function() {
        $("#file").change(function() {
            console.log("upload")
            var file = this.files[0];
            var imagefile = file.type;
            var match= ["image/jpeg","image/png","image/jpg"];  
            if(!((imagefile==match[0]) || (imagefile==match[1]) || (imagefile==match[2])))
            {
            return false;
            }
            else
            {
                var reader = new FileReader();  
                reader.onload = imageIsLoaded;
                reader.readAsDataURL(this.files[0]);
                $('#uploadimage').submit();
            }       
        });
    });
    function imageIsLoaded(e) { 
        $('#image1').css('background-image',"url("+e.target.result+")");
    };
 });
</script>
