 <!-- Navigation -->
<nav ng-controller="navCtrl" class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
           <!--  {% if logado  %}
             <button id=save type="button"  class="btn btn-primary btn-sm">Salvar</button>
            {% endif  %}   --> 
            <style>
              .edit { 
                margin-bottom: 1px; 
                white-space: pre-line;
              }
              .edit0 { 
                margin-bottom: 1px; 
                white-space: normal;
              }
              [contenteditable="true"] { padding: 1px; outline: 2px dashed #CCC; }
              [contenteditable="true"]:hover { outline: 2px dashed #0090D2; }
            </style>
            <a class="navbar-brand"
               href="#page-top">         
              <div contenteditable="<%=@edit_flag%>"
                ng-model="site.moldura.logo.label"
                strip-br="true"
                select-non-editable="true"
                ng-blur="saveDiv('site.moldura.logo.label')">
              </div>  
            </a>              
        </div>       
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">         
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>                    
                <li class="page-scroll" ng-repeat="item in site.moldura.menu">
                    <a 
                    href="{{item.link}}"
                    data-toggle="modal" 
                    data-target="#adm_menu"
                    >{{item.label}}</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>